.sidebar-container {
  width: 300px;
  height: 100vh;
  background: $bgcolor;

  @include mobile {
    width: 60px;
  }

  &__header {
    padding: 15px 20px;
    // background: darken($hovercolor, 2%);
    gap: 15px;
    display: flex;

    &__logo {
      color: blue;
    }

    &__brand {
      color: white;

      @include mobile {
        display: none;
      }
    }
  }
}

//list
.sidebar-container {
  &__list {
    color: white;
    margin-top: 10px;

    &__item {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.699);
      padding: 15px 20px;
      display: flex;
      gap: 15px;
      transition: all 0.3s ease;
      text-decoration: none;

      &__title {
        // align-items: center;

        @include mobile {
          display: none;
        }
      }
    }

    &__item:hover {
      color: white;
      background: $hovercolor;
    }
  }
}

.sidebar-container {
  position: relative;
  // display : flex;

  &__footer {
    transition: all 0.3s ease;
    // display   : flex;

    @include mobile {
      display: none;
    }

    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $hovercolor;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;

    &__logo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: blue;
      background-size: cover;
      background-position: center;
      display: flex;
    }

    &__data {
      &__title {
        font-weight: 500;
        color: white;
        display: flex;
      }

      &__subtitle {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.644);
        font-size: 0.8em;
        display: flex;
      }
    }
  }
}

.sidebar-container__btn {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color 0.3s ease;
}

.nav-active {
  color: white;
  background: $hovercolor;
  transition: all 0.3s ease-out;
}

//Responsive
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
