* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100vw;
}

@mixin mobile {
  @media screen and (max-width: 780px) {
    @content;
  }
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-container {
  background-color: $white;
  width: 100%;
  display: flex;
}

.centered {
  text-align: center;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-5 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-5 {
  margin-right: 20px;
}

.pointer {
  cursor: pointer;
}

span,
.error-message {
  color: red;
}

.has-error {
  border: 1px solid red;
}
